@model RMS.Models.Staff
@using RMS.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Staff Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreId)
            <a asp-controller="Stores" asp-action="Details" asp-route-id="@Model.StoreId">Details</a>
        </dd>
        <dt class="col-sm-2">
            User
        </dt>
        @if (Model.User != null)
        {
            <dd class="col-sm-10">
                @Model.User.Email
            </dd>

            <dt class="col-sm-2">
                Roles
            </dt>
            <dd class="col-sm-10">
                @{
                    var rolesString = "";
                    foreach (var role in ViewBag.Roles)
                    {
                        rolesString += role + ", ";
                    }
                }

                @rolesString <a asp-action="RolesDetails" asp-route-Id="@Model.StaffId">Manage Roles</a>
            </dd>
        }
        else
        {
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Admin"))
                {
                    <dd class="col-sm-10">
                        User not registred, <a asp-area="Identity" asp-page="/Account/Register"
                            asp-route-StaffId="@Model.StaffId">Register User</a>
                    </dd>
                }
            }
        }

        @if (Model.Manager != null)
        {
            <dt class="col-sm-2">
                Manager
            </dt>
            <dd class="col-sm-10">
                @Model.Manager.FirstName @Model.Manager.LastName
            </dd>
        }

        @if (Model.InverseManager.Count() != 0)
        {
            <h4>In Charge of</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StaffId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InverseManager)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StaffId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.StaffId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StaffId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
