@model IEnumerable<RMS.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<div class="h1">Stock <span class="h5 text-success">(Admin)</span></div>

<form id="storeForm" asp-action="AdminIndex">
    <div class="form-group p-1 col-md-1">
        <label for="StoreId" class="control-label">Select Store</label>
        <select id="storeDropdown" name="StoreId" class="form-control" asp-items="ViewBag.Stores"></select>
    </div>
</form>

<script>
    const dropdown = document.getElementById('storeDropdown');
    const form = document.getElementById('storeForm');

    dropdown.addEventListener('change', function () {
        form.submit();
    });
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductId" asp-route-storeid="@item.StoreId">Other
                        Stores</a> |
                    <a asp-action="Edit" asp-route-id="@item.ProductId" asp-route-storeid="@item.StoreId">Edit Quantity</a>
                </td>
            </tr>
        }

    </tbody>
</table>
